/*--
	Header Start 
--*/

header {
  background: #fff;
  .navbar {
    margin-bottom: 0px;
    border: 0px;
  }
  .navbar-light {
    background: none;
    border: 0px;
    .navbar-nav {
      li {
        a {
          color: #333333;
          font &:hover {
            color: #000;
          }
        }
      }
    }
  }
}
