/*--
	Header Start 
--*/

header {
  .navbar {
    margin-bottom: 0px;
    border: 0px;
  }
  .navbar.color-changed {
    background-color: rgba(0, 0, 0, 0.9)!important;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
  }
  .navbar-dark {
    .nav-item.dropdown-item {
      color: rgba(0, 0, 0, 0.8)!important;
    }
    .navbar-nav {
      li {
        a {
          color: rgba(255, 255, 255, 0.8)!important;
        }
      }
    }
  }
  .navbar-light {
    background: none;
    border: 0px;
    .navbar-nav {
      li {
        a {
          color: #333333;
          font &:hover {
            color: #000;
          }
        }
      }
    }
  }
}

html:not([data-scroll='0']) {

  header {
    .bg-transparent {
      background-color: rgba(0, 0, 0, 0.9)!important;
      box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    }
  }
  
}