<!-- Header Start -->
<header class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
      <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" width="{{site.Params.logo_width}}"
        class="img-responsive">
    </a>
    <button type="button" class="navbar-toggler float-xs-right" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">
        {{ range site.Menus.main }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">{{ .Name }}</a>
          <ul class="dropdown-menu">
            {{ range .Children }}
            <li><a class="nav-item dropdown-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </li>
        {{ else }}
        <li><a class="nav-item nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
        {{ end }}
        {{ end }}

        <!-- Language List -->
        {{- if site.IsMultiLingual }}
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false">{{ .Page.Lang }}</a>
          <ul class="dropdown-menu dropdown-menu-right">
            {{ $siteLanguages := site.Languages}}
            {{ $pageLang := .Page.Lang}}
            {{ range .Page.AllTranslations }}
            {{ $translation := .}}
            {{ range $siteLanguages }}
            {{ if eq $translation.Lang .Lang }}
            {{ $selected := false }}
            {{ if eq $pageLang .Lang}}
            <li><a class="nav-item dropdown-item active" href="{{ $translation.Permalink }}">{{ .LanguageName }}</a></li>
            {{ else }}
            <li><a class="nav-item dropdown-item" href="{{ $translation.Permalink }}">{{ .LanguageName }}</a></li>
            {{ end }}
            {{ end }}
            {{ end }}
            {{ end }}
          </select>
        </li>
        {{ end }}
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</header>